ismrmrd
matplotlib     # used by rgb.py and provides various visualization tools including colormaps
numpy
pyside6       # Optional: For UI components (install with: pip install pylottone[ui])
ipykernel
ipympl
pandas
pyfftw
hyperspy
pip
mpl-interactions # For custom ROI in noise_graph_from_series.ipynb
mpl-image-segmenter # Optional: For image segmentation (install with: pip install pylottone[segmentation])
cupy-cuda12x # For GPU acceleration at EDITER processing.